@page
@model Slider5.Models.View.ViewSong
@{
}

<div class="text-center">
    <h1 class="text-center text-danger">Song Page</h1>
    <form id="songForm" enctype="multipart/form-data" class="form-group" onsubmit="return false" >
        <input name="Name" type="text" class="form-control", asp-for="Name"/>
        <br/>
        <input name="File" type="file" class="form-control" asp-for="File"/>
        <br/>
    </form>
    <button id="create-btn" class="form-control bg-info">Create</button>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on("click","#create-btn",function(){
            var formData = new FormData();
            formData.append("Name", $("#songForm input[type=text]").val());
            formData.append("File", $("#songForm input[type=File]")[0].files[0]);

            console.log(formData);
            
            $.ajax({
                url: "Song/AddSong",
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function() {
                    document.alert("Uploaded Successfully!");
                }
            });
        });
    });
</script>
