@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="img/Slider.png"/>
</div>

<div class="container col-md-12">
    <form class="form-group">
        <input id="SearchBox" type="text" name="phrase" placeholder="Search *exmpl SongName, Artist, album, ..." class="form-control d-inline col-md-10"/>
        <button id="search-btn" class="form-control d-inline btn-light col-md-1"><img src="img/icon0-vector-557-01.jpg" class=""/></button>
    </form>
    <ol id="search-result" class="list-group container col-md-12">
        <li id="cont" class="list-group-item bg-dark">
            <ul class="nav">
                <li class="col-md-1 list-group-item">No.</li>
                <li class="col-md-8 list-group-item">Track name</li>
                <li class="col-md-1 list-group-item">Play</li>
                <li class="col-md-2 list-group-item">Download</li>
            </ul>
        </li>
        <li class="list-group-item bg-dark">
            <ul class="nav">
                <li class="col-md-1 list-group-item">1</li>
                <li class="col-md-8 list-group-item">Fear of the dark</li>
                <li class="col-md-1 list-group-item"><img class="play-img" src="img/Play.png"/></li>
                <li class="col-md-2 list-group-item"><a class="btn-link download-link"><img src="img/Download.png"/></a></li>
            </ul>
        </li>
    </ol>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        var btn = $("#search-btn");
        var sb = $("#SearchBox");
        btn.on("click", function() {
            var searchPhrase = sb.val();
            $.ajax({
                url: 'Song/Search?phrase=' + '"' +searchPhrase + '"',
                type: "GET",
                success: function(response) {
                    var resultBox = $("#search-result");
                    response.forEach(function (c) {

                    });
                }
            });
        });
    });
</script>
